#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#upper{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#upper-content{
    width: 100%;
    text-align: justify;
}

#text > p{
    font-size: 18px;
}

#text > img{
    width: 350px;
    float: right;
    border-radius: 50%;
    shape-outside: circle(50%);
    margin-left: 38px;
    margin-top: 0.5em;
}

h1{
    margin-bottom: 1em;
}

#lower{
    border-radius: 5px;
    border: white 3px solid;
    margin-top: 128px;
    letter-spacing: 4px;
    padding: 1em;
}

#lower > button{
    color: inherit;
    background-color: transparent;
    border: none;
}

#lower > button > h3{
    margin: 0px;
}

#lower:hover{
    border-color: #b827fc;
    color: #b827fc; 
}

.modal-cnt{
    display: inline-flex;
    height:min-content;
    width: 100%;
}

.modal-left{
    width: 60%;
    background: linear-gradient(#e66465, #b827fc);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.modal-right{
    height: fit-content;
    width: 40%;

}

.modal-right > img{
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.vertical{
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    pointer-events:none;
}

.modal-dialog{
    max-width: 880px;
    background-color: transparent;
}

.modal-content{
    background-color: transparent;
    margin: auto;
}

.modal-text{
    color:white;
}

.floatInOut{
    animation: floatXPlus 1s;
}

@keyframes floatXPlus {
    50%{
        transform: translateX(-120%);
    }
    100%{
        transform: translateX(0%);
    }
}

.pagination{
    margin-top: 6rem;
    width: 100%;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.pagination:hover{
    cursor: default;
}

.circles > ul{
    padding-left: 0px;
}

.circles > ul > li{
    display: inline-block;
    padding-right: 20px;
    width: 18px;
    height: 18px;
}

.circles > ul > li > div{
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circles > ul > li > div{
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.circle:hover{
    animation: paginationHover 0.4s ease 1;
}

@keyframes paginationHover{
    0%{
        width: 18px;
        height: 18px;
    }
}

.activeHobbie{
    background-color: #111111 !important;
}

.title{
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-size: 60px;
}

.coloredh1{
    margin-top: -26px !important;
    color: #e59f26 !important;
}

.title-div{
    margin-bottom: 1rem;
    margin-top: 4rem;
}

@media screen and (max-width: 1500px){
    #upper{
        width: 80%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 1250px){
    #upper{
        width: 65%;
    }

    #lower{
        margin-top: 64px;
    }
}

@media screen and (max-width: 1100px){
    #upper{
        width: 75%;
    }
}

@media screen and (max-width: 750px){
    #upper{
        width: 80%;
    }

    #text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #text > img{
        float: none;
        margin-bottom: 32px;
        margin-left: 0px;
    }

    #lower{
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 450px){
    #text > img{
        width: 100%;
    }
}

.modal-body{
    margin: 32px;
}