#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#upper{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6em;
}

#upper-content{
    width: 100%;
    margin-right: 2em;
    text-align: justify;
}

#upper-content > div > p{
    font-size: 18px;
}

#upper-content > div > img{
    width: 350px;
    float: right;
    border-radius: 50%;
    shape-outside: circle(50%);
    margin-left: 2.5em;
    margin-top: 0.5em;
}

h1{
    margin-bottom: 1em;
}

#lower{
    border-radius: 5px;
    border: white 3px solid;
    margin-top: 8em;
    letter-spacing: 4px;
    padding: 1em;
}

#lower > h3{
    margin: 0px;
}

#lower:hover{
    border-color: #b827fc;
    color: #b827fc;
}
