h1{
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-size: 60px;
}

.coloredh1{
    margin-top: -26px;
    color: #e59f26;
}

#title-div{
    margin-top: 4em;
    margin-bottom: 50px;
}

#content{
    width: 100%;
}

#all{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#cards{
    color: #bbbbbb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-content{
    width: 320px;
    height: fit-content;
    background-color: black;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.card-content > h3{
    color: #cccccc;
    font-weight: bold;
}

.cardMore{
    text-decoration: none;
    color: #e59f26;
}

.tags{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.badge{
    margin-right: 8px;
    margin-bottom: 8px;
}

.line{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
    height: 2px;
    background-color: #e59f26;
    border-radius: 2px;
}

.visit{
    display: flex;
    height: 40px !important;
    width: 120px !important;
    border-radius: 20px;
    background-color: #ca2727;
    color: white;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-right: 16px;
}

.card-bottom{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16px;
}
