#content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:baseline;
    padding-left: 1.5em;
}

section{
    margin-top: 1em;
}

section > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titleh1{
    margin-bottom: 1em;
}

.shadow-work{
    box-shadow: 8px 8px #ca2727;
}

.shadow-education{
    box-shadow: 8px 8px #e59f26;
}

.card-body{
    background-color: black !important;
    color: #cccccc !important;
    border-radius: 5px;
}

.card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    color: black;
}

.card-header-work{
    background-color: #e59f26;
    height: 100px;
}

.card-header-education{
    background-color: #ca2727;
    height: 120px;
    color: white;
}

.card-header-work > h6{
    color: #111111;
    margin-top: 2px;
}

.card-header-education > h6{
    color: #bbbbbb;
    margin-top: 2px;
}

.card{
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 64px;
    background-color: transparent;
}

.visit{
    display: flex;
    height: 40px !important;
    width: 70px !important;
    border-radius: 20px;
    background-color: #ca2727;
    color: white;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.vist-work{
    background-color: #ca2727;
    color: white;
}

.visit-education{
    background-color: #e59f26;
    color: black;
}

h5{
    font-weight: bold;
}

.title{
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-size: 60px;
}

.coloredh1{
    margin-top: -26px !important;
    color: #e59f26 !important;
}

.title-div{
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#everything{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 1500px) {
    #content{
        padding-left: 4em;
    }

    .card{
        margin: 0px;
        margin-right: 96px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 1250px) {
    #content{
        padding-left: 0em;
    }

    .title-div{
        margin-top: 96px;
    }

    .card{
        margin-right: 24px;
        margin-left: 24px;
    }

    .contenth1{
        padding-left: 24px !important;
    }
}