#profile-content{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 4em;
}

#profile-picture > img{
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

#profile-text{
    color: black;
    width: 450px;
    height: 450px;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:flex-start;
    padding-top: 4em;
    padding-bottom: 4em;
}

#resume-content{
    background-color: #121212;
    height: 578px;
    width: 100%;
    padding: 2em;
}

.spacer{
    width: 100%;
    height: 350px;
}

#contact-content{
    color: black;
    width: 450px;
    height: 450px;
}

.resume-card{
    background-color: #D94C1A;
    width: 400px;
    height: 200px;
    border-radius: 0.5em;
}